.add-product-container {
    padding: 10px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-contai {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    /* text-align: center;
    margin: 0 auto; */

}

.uploaded-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.form-contai h1 {
    font-size: 24px;
    margin-left: 25%;
}

.form-contai form {
    display: flex;
    flex-direction: column;
}

.form-contai label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-contai input[type="text"],
.form-contai input[type="number"],
.form-contai select,
.form-contai input[type="file"] {
    padding: 3px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.add-product-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 35%;
}
