.product-container {
    /* ... other styles ... */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 20%;
    min-width: 310px;
    max-height: 200px;
    border-radius: 20px;
  }
  
  .product-image img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 20px;
  }
  
  .product-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .left-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }
  
  .left-part h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .left-part p {
    margin: 2px 0;
    font-size: 1rem;
  }
  
  .right-part {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .buy-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
  }
  